In [2]:
import os
import pandas as pd

In [3]:
df = pd.read_csv(os.path.expanduser('~/Documents/Aposemat/CTU-Honeypot-Capture-2-2/2018-05-16-17-33-41-192.168.100.109.binetflow'))

In [4]:
df.head()

,StartTime,Dur,Proto,SrcAddr,Sport,Dir,DstAddr,Dport,State,sTos,dTos,TotPkts,TotBytes,SrcBytes,SrcPkts,Label
0,2018/05/16 17:33:52.950173,981.179749,udp,192.168.100.109,28447,->,122.248.252.67,9765,INT,0.0,NaN,50,3870,3870,50,NaN
1,2018/05/16 17:33:57.953844,3560.818604,arp,192.168.100.109,NaN,who,192.168.100.1,NaN,CON,NaN,NaN,108,6480,3240,54,NaN
2,2018/05/16 17:34:19.889665,0.000491,udp,192.168.100.109,60158,<->,192.168.100.1,53,CON,0.0,0.0,2,164,74,1,NaN
3,2018/05/16 17:34:19.890905,0.003997,tcp,192.168.100.109,35524,->,172.217.23.196,80,FSA_FSA,0.0,0.0,6,412,272,4,NaN
4,2018/05/16 17:34:24.538033,6.020588,udp,192.168.100.109,40184,->,239.255.255.250,1900,INT,0.0,NaN,4,671,671,4,NaN

In [8]:
df[df['Proto']=='udp'].groupby(['DstAddr', 'Dport']).size()

DstAddr          Dport
122.248.234.231  8760       75
122.248.252.67   8760       75
                 9765       76
147.251.48.140   123         1
192.168.100.1    53       1586
239.255.255.250  1900      698
255.255.255.255  11651       1
                 12117       1
                 12772       1
                 13922       1
                 14040       1
                 14927       1
                 15306       1
                 15528       1
                 15833       1
                 16635       1
                 17167       1
                 17319       1
                 17340       1
                 18376       1
                 19689       1
                 20239       1
                 21617       1
                 22825       1
                 23121       1
                 23330       1
                 2336        1
                 25744       1
                 25935       1
                 26627       1
                          ...
                 42959       1
                 44678       1
                 45376       1
                 46863       1
                 46882       1
                 47959       1
                 48248       1
                 49253       1
                 49311       1
                 49972       1
                 50712       1
                 50775       1
                 50783       1
                 52517       1
                 52702       1
                 54518       1
                 55075       1
                 55497       1
                 57659       1
                 58739       1
                 59862       1
                 6198        1
                 6219        1
                 62246       1
                 62356       1
                 6258        1
                 64344       1
                 65260       1
                 9346        1
                 9427        1
Length: 81, dtype: int64